/* SEARCH CONTAINER  */
.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.search_input {
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  margin-top: 15px;
  padding: 10px;
}

.searchContainer {
  padding: 20px;
}

.search_container_img .img1 {
  height: 100px;
}
.search_container_img .img2 {
  height: 80px;
}

/* COMBO CONTAINER */

.combo-container {
  gap: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}

.combo-container div {
  display: flex;
  flex-direction: row;
}
.combo-container p {
  color: white;
  background-color: #eb555b;
  padding: 6px 10px 6px 10px;
  border-radius: 10px;
}

.combobox {
  width: 100px;
}

.combo-box-popover {
  border-radius: 10px;
}

.combo-icon {
  color: gray;
  padding: 5px;
}
/* LIST CONTAINER >> GAME CARD */

.listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gameCard {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.gameCard img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  padding: 10px;
}

.gameName {
  color: white;
}

/* PAGINATION */
.paginationBttns {
  padding: 5px;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 50px auto;
}

.paginationBttns a {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px lightgrey solid;
  color: white;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: #eb555b;
  background-color: white;
}

.paginationActive a {
  color: white;
}

@media (min-width: 300px) and (max-width: 768px) {
  /* .search_container_img .img1 {
    height: 60px;
  }

  .search_container_img .img2 {
    height: 40px;
  } */

  .search_container_img {
    display: none;
  }

  .listContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
    justify-content: center;
  }

  .gameCard {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .gameCard img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
    padding: 10px;
  }

  .gameName {
    font-size: 0.8rem;
  }

  .paginationBttns a {
    padding: 5px;
    margin: 8px;
    border-radius: 5px;
    border: 2px lightgrey solid;
    color: white;
    cursor: pointer;
  }
}
