.loader-container {
  height: 300px;
  width: 300px;
  margin: 150px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;
}

.dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #eb555b;
  margin: 0 auto;
  animation: loader infinite 0.3s alternate;
}

.d2 {
  animation-delay: 0.05s;
}

.d3 {
  animation-delay: 0.15s;
}

@keyframes loader {
  100% {
    transform: translateY(-60%);
  }
}
