/* CONTENT */

.content {
  padding: 10px;
}

p {
  color: grey;
}
.content div {
  color: white;
}

.title {
  font-size: 30px;
  color: white;
}
/* FIRST BLOCK CONTENT */

.first-block-content {
  display: flex;
}

.plateforme-genre,
.date-developer,
.publisher-rating {
  display: flex;
}

.imgContainer,
.textContainer {
  flex: 1;
  padding: 10px;
}

.imgContainer {
  max-width: 500px;
}

.imgContainer img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

/* BTN CONTAINER */
.btn-container {
  display: flex;
  gap: 10px;
}

.saved {
  color: #eb555b;
}

.btn-container button {
  width: 90px;
  text-align: start;
  border-radius: 5px;
  border: none;
}

/* INFO CONTAINER */
.info-container {
  display: flex;
}

.right-colum {
  margin-left: 30px;
}

/* SCROLL IMG CONTAINER */

.title2 {
  font-size: 20px;
  text-align: center;
}

.scroll-container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  padding: 5px;
}

@media (min-width: 300px) and (max-width: 768px) {
  .imgContainer {
    margin: 0 auto;
  }

  .title {
    text-align: center;
  }

  .first-block-content {
    display: flex;
    flex-direction: column;
  }

  .scroll-container {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }

  .scroll-container img {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 769px) and (max-width: 1500px) {
  .scroll-container {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
}
