.modalBackground {
  margin: 0 auto;
  background-color: #202020;
  border-radius: 10px;
  height: 250px;
  max-width: 100vh;
}
.modalTitle {
  text-align: center;
}

.modalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalForm input textarea {
  border-radius: 8px;
  height: 30px;
  width: 100px;
}

.modalContainer p {
  color: white;
}
.modalContainer {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
