.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #eb565b solid 2px;
  padding: 10px;
}

.ongletBtn {
  display: flex;
  gap: 8px;
}

.register-btn {
  display: flex;
  gap: 3px;
}

.ongletBtn button {
  border-radius: 5px;
  border: none;
  height: 30px;
  max-width: 100px;
  cursor: pointer;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.gamepad_img {
  height: 40px;
}

@media (min-width: 300px) and (max-width: 576px) {
  .header {
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid #eb565b;
    padding: 10px;
  }

  .logocontainer {
    display: none;
  }

  .ongletBtn {
    /* margin-left: 280px; */
    margin: 0 auto;
  }

  .register-btn {
    display: flex;
    grid-gap: 3px;
    gap: 3px;
    /* flex-direction: column; */
  }
}
