.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #eb565b solid 2px;
  padding: 10px;
  margin-top: 10px;
}

.ongletBtn {
  display: flex;
  gap: 8px;
}

.register-btn {
  display: flex;
  gap: 3px;
}

.login-btn {
  background-color: #eb555b;
  width: 60px;
  height: 30px;
}

.myCollection-btn {
  max-width: 150px;
  background-color: black;
  color: whitesmoke;
  font-size: 1rem;
  height: 30px;
}
.ongletBtn button {
  border-radius: 5px;
  border: none;

  cursor: pointer;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.gamepad_img {
  height: 40px;
}

@media (min-width: 300px) and (max-width: 768px) {
  .gamepad_img {
    display: none;
  }

  .logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  .register-btn {
    display: flex;
    grid-gap: 1px;
    gap: 1px;
    /* flex-direction: column; */
  }
}

@media (min-width: 769px) and (max-width: 2200px) {
  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #eb565b;
    padding: 10px;
  }
}
