.content-container {
  max-width: 100%;
  background-color: #202020;
  position: relative;
  margin: 100px auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instruction-container div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  height: 500px;
  width: 280px;
  align-items: center;
  justify-content: center;
}

.img-logo {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.instruction-container {
  height: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-title {
  color: white;
  font-size: 20px;
}

.userName,
.email,
.submitBtn,
.passwordInputContainer,
.fileInputContainer {
  width: 270px;
}

.userName,
.email,
.psw,
.pswConfirm,
.submitBtn {
  height: 35px;
  border-radius: 5px;
  border: none;
  padding: 8px;
  font-size: 14px;
}

/* PASSWORD INPUTS */

.passwordInputContainer {
  display: flex;
  justify-content: space-between;
}

.psw,
.pswConfirm {
  width: 125px;
}

.submitBtn {
  background-color: #eb555b;
}

/* input file style */
.fileInputContainer {
  width: 50%;
  height: 35px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #eb555b;
  border-radius: 5px;
}

.fileInputContainer .browse {
  color: black;
  padding: 8px;
  font-size: 14px;
}

.fileInputContainer .fileName {
  color: white;
  margin-left: 15px;
}

.fileInput {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  width: 100%;
  z-index: 1;
  left: -6px;
}

.alert {
  color: #eb555b;
  font-size: 16px;
}

.account-already {
  color: white;
}

/* RESPONSIVE */

@media (min-width: 300px) and (max-width: 768px) {
  .content-container {
    background-color: #202020;
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: #eb555b 2px solid;
    padding: 30px;
    height: 450px;
  }

  .instruction-container {
    height: 300px;
  }
}

/* CONTENT CONTAINER -- PARENT DIV */
@media (min-width: 769px) and (max-width: 2200px) {
  .form-container {
    border-left: #eb555b 2px solid;
  }
}
