/* Other rules */
body {
  background-color: black;
  max-width: 1200px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

.main-container {
  max-width: 1500px;
}

.loading {
  margin: 300px auto;
  max-width: 600px;
  color: #eb565b;
  font-size: 3rem;
  text-align: center;
}
